/*
    Created on : Apr 7, 2020, 1:15:08 AM
    Author     : Nelson Earle (nwewnh)
*/

/**
 * Splash
 */

.splash-fade-pane {
    -fx-background-color: primary-light-color;
}

/**
 * Maximize Indicator
 */

.maximize-indicator {
    -fx-padding: 8px;
}
.maximize-indicator-inner {
    -fx-background-color: #ffffff11;
    -fx-background-radius: 8px;
    -fx-border-color: #ffffff22;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
}

/**
 * ASCII Table Popup
 */

.ascii-table {
    -fx-background-color: #78909c;
    -fx-padding: 16px;
}

.ascii-table-cell {
    -fx-padding: 8px;
}

.ascii-table-cell > .label {
    -fx-text-fill: #000000;
    -fx-font-family: monospaced;
    -fx-font-size: 16px;
}

.ascii-table-cell-border {
    -fx-background-color: #000000;
    -fx-pref-width: 2px;
}

.ascii-table-cell-code {
    /*-fx-background-color: #00ff0033;*/
}

.ascii-table-cell-code > .label {
    -fx-font-weight: bold;
}

.ascii-table-cell-symbol {
    /*-fx-background-color: #00ff0033;*/
}

.ascii-table-cell-description {
    /*-fx-background-color: #0000ff33;*/
    -fx-alignment: center-left;
}

/**
 * Ribbon
 */

.ribbon {
    -fx-background-color: primary-lightest-color;
}

.ribbon-text {
    -fx-text-fill: #ffffff;
}

.menu-bar {
    -fx-background-color: primary-lightest-color;
}

.menu {
    -fx-background-color: primary-lightest-color;
}

.menu:hover {
    -fx-background-color: primary-light-color;
}

.menu > .label {
    -fx-text-fill: #ffffff;
}

.context-menu {
    -fx-background-color: primary-light-color;
}

.context-menu .label {
    -fx-text-fill: #ffffff;
}

.iconify-button {
    -fx-background-color: primary-lightest-color;
    -fx-background-radius: 0;
}
.iconify-button:hover {
    -fx-background-color: primary-light-color;
}

.maximize-button {
    -fx-background-color: primary-lightest-color;
    -fx-background-radius: 0;
}
.maximize-button:hover {
    -fx-background-color: primary-light-color;
}

.close-button {
    -fx-background-color: primary-lightest-color;
    -fx-background-radius: 0;
}
.close-button:hover {
    -fx-background-color: red;
}

/**
 * ScrollBars
 */

.scroll-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar > .track {
    -fx-border-color: scrollbar-border-color;
}

.scroll-bar > .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar > .thumb {
    -fx-background-color: scrollbar-color;
    -fx-background-radius: 5em;
    -fx-padding: 4px;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/**
 * IDE
 */

.ide-root {
    -fx-background-color: primary-light-color;
}

.ide-tab-pane {
    -fx-background-color: primary-light-color;
}

.ide-tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: primary-light-color;
}

.ide-tab-pane > .tab-header-area .tab {
    -fx-background-color: primary-color;
}

.ide-tab-pane > .tab-header-area .tab .tab-label {
    -fx-text-fill: #ffffff;
}

/**
 * Welcome Tab
 */

.welcome-content {
    -fx-background-color: primary-color;
}

.welcome-content > .label {
    -fx-font-family: MuseoSans-500;
    -fx-font-size: 64px;
    -fx-text-fill: welcome-gradient;
}

.welcome-content .button {
    -fx-background-color: primary-color;
    -fx-background-radius: 24px;
    -fx-border-color: derive(primary-color, 50%);
    -fx-border-width: 1.5px;
    -fx-border-radius: 24px;
    -fx-font-size: 24px;
    -fx-text-fill: derive(primary-color, 50%);
}
.welcome-content .button > * {
    -fx-text-fill: derive(primary-color, 50%);
}
.welcome-content .button:hover {
    -fx-border-color: welcome-gradient;
    -fx-text-fill: welcome-gradient;
}
.welcome-content .button:hover > * {
    -fx-text-fill: welcome-gradient;
}

/**
 * Editor Tab
 */

.split-pane {
    -fx-background-color: primary-color;
}

.split-pane .split-pane-divider {
    -fx-background-color: scrollbar-color;
    -fx-padding: 2px;
}

.editor-tabs-shadow {
    -fx-background-color: primary-color;
    -fx-effect: innershadow(three-pass-box, #00000012, 16, 0, 0, 10);
    -fx-padding: 16px 0 0 0;
}

.editor > .scroll-pane > .corner {
    -fx-background-color: primary-color;
}

.editor, .editor .content {
    -fx-background-color: primary-color;
    -fx-background-radius: 0;
    -fx-text-fill: #ffffff;
    -fx-font-family: monospaced;
    -fx-font-size: 14px;
}

/**
 * Visualizer
 */

.visualizer-parent {
    -fx-background-color: primary-color;
    -fx-focus-color: transparent;
}

.visualizer-parent > .scroll-bar > .track {
    -fx-background-color: primary-color;
}

.visualizer {
    -fx-background-color: primary-color;
}

.visualizer-cell {
    -fx-background-color: #3e4b59;
    -fx-background-radius: 10px;
}

.visualizer-cell > .label {
    -fx-text-fill: visualizer-cell-text-color;
    -fx-font-size: 11px;
}

.visualizer-ascii > .label {
    -fx-text-fill: #ffffff99;
}

.visualizer-cell-highlight {
    -fx-background-color: accent-color;
    /*-fx-effect: innershadow(three-pass-box, #ffffff77, 32, 0, 0, 0);*/
}

.visualizer-cell-highlight > .label {
    -fx-text-fill: visualizer-cell-highlight-text-color;
}

/**
 * Output
 */

.output, .output .content {
    -fx-background-color: output-background-color;
    -fx-background-radius: 0;
    -fx-font-family: monospaced;
    -fx-text-fill: output-text-color;
}

/**
 * Spinner
 */

.spinner {
    -fx-font-size: 32px;
    -fx-font-family: monospaced;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

/**
 * Input
 */

.input-button {
    -fx-background-color: primary-lightest-color;
    -fx-background-radius: 8px;
}
.input-button:hover {
    -fx-background-color: derive(primary-lightest-color, 15%);
}

.input-prompt {
    -fx-background-color: #ffffff70;
    -fx-background-radius: 8px;
}

.input-prompt > .label,
.input-prompt-cursor {
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
}
